services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: lux
      POSTGRES_PASSWORD: luxpass
      POSTGRES_DB: erp
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
      PGCLIENTENCODING: UTF8
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U lux -d erp"]
      interval: 10s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@lux.local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: mediamtx
    ports:
      - "8554:8554"   # RTSP
      - "8888:8888"   # HLS/HTTP
      # - "9997:9997" # (opcional) API si la habilitas en mediamtx.yml
    volumes:
      - ./mediamtx/mediamtx.yml:/mediamtx.yml:ro
    restart: unless-stopped

    test-pub:
    image: jrottenberg/ffmpeg:6.0-ubuntu
    depends_on:
      mediamtx:
        condition: service_started
    entrypoint: [ "bash", "-lc" ]
    command: >
      apt-get update &&
      apt-get install -y --no-install-recommends fonts-dejavu-core &&
      ffmpeg -hide_banner -re
      -f lavfi -i testsrc=size=640x360:rate=25
      -f lavfi -i sine=frequency=440:sample_rate=44100
      -vf "drawtext=text='CAM1 %{localtime}':fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf:x=10:y=10:fontsize=24:fontcolor=yellow"
      -c:v libx264 -preset veryfast -tune zerolatency -pix_fmt yuv420p -g 50 -b:v 1000k
      -c:a aac -b:a 128k
      -f rtsp -rtsp_transport tcp rtsp://mediamtx:8554/cam1
    restart: unless-stopped



  # Publisher -> cam2
  test-pub2:
    image: jrottenberg/ffmpeg:6.0-ubuntu
    depends_on:
      mediamtx:
        condition: service_started
    command: >
      -hide_banner -re
      -f lavfi -i testsrc=size=640x360:rate=25
      -f lavfi -i sine=frequency=660:sample_rate=44100
      -vf "hue=h=60,drawtext=text='CAM2 %{localtime}':fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf:x=10:y=10:fontsize=24:fontcolor=cyan"
      -c:v libx264 -preset veryfast -tune zerolatency -pix_fmt yuv420p -g 50 -b:v 1000k
      -c:a aac -b:a 128k
      -f rtsp -rtsp_transport tcp rtsp://mediamtx:8554/cam2
    restart: unless-stopped

  gateway:
    build: ../gateway
    env_file: ../.env
    depends_on:
      postgres:
        condition: service_healthy
      mediamtx:
        condition: service_started
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql+psycopg2://lux:luxpass@postgres:5432/erp"
      MS_LOGISTICA_URL: "http://ms-logistica:8000"
      MS_INVENTARIO_URL: "http://ms-inventario:8000"
      MTX_PUBLIC_URL: "http://localhost:8888"
      CAM_IDS: "cam1,cam2"
    healthcheck:
      test: ["CMD-SHELL","curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  ms-inventario:
    build: ../ms-inventario
    env_file: ../.env
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql+psycopg2://lux:luxpass@postgres:5432/erp"
    ports:
      - "8002:8000"
    healthcheck:
      test: ["CMD-SHELL","curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  ms-logistica:
    build: ../ms-logistica
    env_file:
      - ../.env
      - ../web/.env
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql+psycopg2://lux:luxpass@postgres:5432/erp"
      GOOGLE_MAPS_SERVER_KEY: ${GOOGLE_MAPS_SERVER_KEY}
      VITE_GOOGLE_MAPS_API_KEY: ${VITE_GOOGLE_MAPS_API_KEY}
    ports:
      - "8001:8000"
    healthcheck:
      test: ["CMD-SHELL","curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  ms-rrhh:
    build: ../ms-rrhh
    env_file: ../.env
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql+psycopg2://lux:luxpass@postgres:5432/erp"
    ports:
      - "8003:8000"
    entrypoint: ["uvicorn", "--app-dir", "/app", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    healthcheck:
      test: ["CMD-SHELL","curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  web:
    build: ../web
    env_file: ../web/.env
    environment:
      VITE_API_URL: ${VITE_API_URL:-http://localhost:8000}
      VITE_API_INVENTARIO: ${VITE_API_INVENTARIO:-http://localhost:8002}
      VITE_API_LOGISTICA: ${VITE_API_LOGISTICA:-http://localhost:8001}
      VITE_GOOGLE_MAPS_API_KEY: ${VITE_GOOGLE_MAPS_API_KEY}
    ports:
      - "8080:80"
    depends_on:
      gateway:
        condition: service_healthy

volumes:
  db:
